/* PC */
@media (min-width: 1024px) {
}

/* tablet and mobile */
@media (max-width: 1023px) {
  .t-m-full {
    float: none;
    width: 100% !important;
  }

  .tilte {
    font-size: 100px;
  }
}

/* tablet */
@media (max-width: 1023px) and (min-width: 740px) {
}

/* mobile */
@media (max-width: 739px) {
}
