/* PC */
@media (min-width: 1024px) {
}

/* tablet and mobile */
@media (max-width: 1023px) {
  body {
    font-size: 17px;
  }

  .t-m-full {
    float: none;
    width: 100% !important;
  }

  .btn {
    width: 100%;
  }

  .t-m-mr-bottom-8 {
    margin-bottom: 8px;
  }
}

/* tablet */
@media (max-width: 1023px) and (min-width: 740px) {
}

/* mobile */
@media (max-width: 739px) {
  .m-full {
    width: 100%;
  }
  .m-mr-bottom-8 {
    margin-bottom: 8px;
  }
}
